@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&family=Poppins:wght@400;600;800&display=swap');

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    --main-font : 'Montserrat', sans-serif;
    --main-font1 : 'Poppins', sans-serif;
    --green : #1DB954;
    --hover-green : #35ca69;
    --black : #191414;
}