.genre-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 10rem;
}

.genre-title{
    font-size: 4rem;
    color : var(--green);
    font-family: var(--main-font);
    text-align: center;
}

.genre-list{
    padding : 10rem 2rem 10rem 2rem;
    max-width : 50rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap : 2rem;
}

.genre-tag{
    background-color: white;
    color : var(--black);
    font-size: 3rem;
    padding : 1rem;
    border-radius: 0.5rem;
    font-family: var(--main-font1);
    font-weight: 600;
}