.home-page{
    height : 100vh;
    width : 100vw;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media screen and (max-width : 800px){
    .home-title{
        font-size: 5rem;
        margin-bottom: 5rem;
    }

    .home-desc{
        font-size: 1.5rem;
    }

    .view-result-btn{
        font-size: 2rem;
    }
}

@media screen and (min-width : 800px){
    .home-title{
        font-size: 10rem;
        margin-bottom: 7rem;
    }
    .home-desc{
        font-size: 2rem;
    }
    .view-result-btn{
        font-size: 2.5rem;
    }
}

.home-title{
    font-family: var(--main-font);
    font-weight: 800;
    color : var(--green);
    text-align: center;
}

.home-desc{
    max-width: 80rem;
    color : white;
    font-family: var(--main-font1);
    font-weight: 300;
    text-align: center;
    margin-bottom: 3rem;
}

.view-result-btn{
    border : none;
    font-family: var(--main-font1);
    font-weight: 800;
    color : var(--black);
    background-color: var(--green);
    padding : 1rem 2rem 1rem 2rem;
    border-radius: 5rem;
    transition : all 0.3s;
    margin-bottom: 1rem;
    text-decoration: none;
}

.view-result-btn:hover{
    cursor: pointer;
    background-color : var(--hover-green);
}

.error-msg{
    font-size: 1.3rem;
    color : white;
    font-family: var(--main-font1);
    text-align: center;
}