.song-hidden{
    opacity: 0;
}

.song-reveal{
    opacity: 100;
}

.song-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 5rem;
    transition: transform .5s ease-in, opacity .4s ease;
}


.song-box-title{
    font-family: var(--main-font);
    transform : rotate(-90deg);
    font-size: 5rem;
    text-align: center;
    color : var(--green);
}

.flip-column{
    transform : rotate(90deg);
    order : 1;
}

.song-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 3rem;
}

.song-grid{
    display: grid;
    padding : 1rem;
    grid-template-columns: repeat(10, 1fr);
    min-width : 50rem;
    background-color: var(--black1);
    border-radius: 1rem;
}

.song-img-box{
    grid-column: 1 / 4;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-img{
    height : 12rem;
    width : 12rem;
    border-radius: 100%;
}

.song-detail{
    grid-column: 4 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.song-name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 2rem;
}

.song-name a{
    text-decoration: none;
    font-family: var(--main-font1);
    color : white;
    font-size: 2.7rem;
    font-weight: 600;
}

.song-name a:hover{
    text-decoration: underline;
}

.song-artists{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 2rem;
    color : white;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 2rem;
}
